<div class="my-2 py-2">
    <button class="btn btn-danger mb-1" @onclick="@( () => Counter-- )">Уменьшить</button>
    <span class="p-2 mb-1">Значение счетчика: @Counter</span>
    <button class="btn btn-danger mb-1" @onclick="@( () => Counter++ )">Увеличить</button>
</div>

@code {
    public int Counter { get; set; }
}
