@page "/online"
@inject IToastService toastService

<h1 class="bg-danger text-center text-white p-2">Склад кирпичей</h1>

<p>Приложение управления складом кирпичей.</p>

<CounterPartial />

<button class="btn btn-info my-2" @onclick="@(() => toastService.ShowSuccess("Все замечательно!", "Великолепно"))">
    <i class="fas fa-mouse"></i>
    Сообщение пользователю
</button>

@code {

}
