@page "/online"
@inject IToastService toastService

<IndexComponent />

<CounterPartial />

<button class="btn btn-info my-2" @onclick="@(() => toastService.ShowSuccess("Все замечательно!", "Великолепно"))">
    <i class="fas fa-mouse"></i>
    Сообщение пользователю
</button>

@code {

}
