@{
    ViewBag.Title = "О приложении";
}

<div class="container-md">

    <div class="row">
        <div class="col-sm-3">
            <partial name="Partial/_LeftSidebarPartial" />
        </div>
        <div class="col-sm-9">
            <h3>@ViewBag.Title</h3>
            <h1 class="p-4 bg-danger text-white text-center">NOVOBLOCK PLUS</h1>

            <p>Ранняя версия (MVP) приложения управления складом кирпичей.</p>

            <div class="alert alert-primary" role="alert">
                Приложение пока еще не предназначено для использования в производственной среде.
            </div>

            <div class="p-2 mb-4 shadow border rounded">

                <p>Полностью реализована функция ручного редактирования вида товаров и мест хранений товаров, можно ознакомиться с этой функцией как в этом веб-приложении, так и в мобильном приложении, ссылка на загрузку его доступна ниже на странице.</p>

                <h5>Описание приложения</h5>

                <p>Приложение предназначено для управления складом кирпичей. Главная функция приложения - учет товаров на складе по местам хранения с учетом времени и даты постемлений товаров на склад.</p>

                <p>Вторичные функции:</p>

                <ul class="list-group">
                    <li class="list-group-item">Учет различных видов товаров.</li>
                    <li class="list-group-item">Учет мест хранения товаров, с различной их вместимостью.</li>
                    <li class="list-group-item">Предоставление актуальной отчетной информации по товарам на складе и местам хранений товаров.</li>
                    <li class="list-group-item">Предоставление историии работы склада - истории поступлений, истории перемещений и истории выгрузки со склада товаров.</li>
                    <li class="list-group-item">Проведение автоматизированной ревизии товаров на складе.</li>
                    <li class="list-group-item">Учет расположения товаров по каждому месту в виде количества штук товаров определенного вида на этом месте, на каждом месте могут находится только товары оперделенного одного вида, на каждом месте может находится любой товар.</li>
                    <li class="list-group-item">Предполагается автоматизация работы операторов склада при поступлениии товара на склад, при отгрузке товаров на склад с использованием технологии распечатки и сканирования QR кодов, предполагается выпуск QR кода для каждого места хранения товаров и для каждого товара.</li>
                    <li class="list-group-item">Уникальная идентификация каждой пачки каждого вида товаров по уникальному номеру, закодированному в виде QR кода.</li>
                </ul>

                <p>Ранняя версия (MVP) мобильного приложения на платформе Android создана в ознакомительных целях. Реализована функция ручного управления складом, демонстрирующая интерфейс оператора, мастера и начальника склада, через который ежедневно будет осуществляться управление складом. Функции автоматизации работы склада не реализованы. Предполагается, что мобильное приложение будет осуществлять главные функции оперативного управления складом как в ручном, так и в автоматизированном режимах. Предусматривается разделение пользователей по ролям - оператор и мастер. Для оператора предусматривается ограничение прав на редактирование данных по складу и видам товаров. Для мастера предусматривается расширение прав управления складом - возможность редактирования данных склада и видов товаров. </p>

                <p>Ранняя версия (MVP) веб-приложения также реализована в ознакомительных целях. Реализована функция ручного управления складом, демонстрирующая интерфейс оператора, мастера и начальника склада, через который ежедневно будет осуществляться управление складом. Функции автоматизации работы склада не реализованы. Предусматривается доступность формирования различных отчетов по товарам и работе склада. Предполагается, что интеграция с внешними системами будет осуществляться этим веб-приложением.  </p>

                <p>Мобильное приложение будет выполнять основные функции управления. Предназначено для установки на мобильные устройства операторов платформы Android. Выполняет полный набор функций, предназначенных для управления работой склада.</p>

                <p>Вспомогательные функции выполняет веб-приложение, развернутое в облвчном хостинге Azure. Выполняет такие функции как настройка работы склада, различное редактирование данных в базе данных, получение отчетов, интеграция с внешними системами.</p>

            </div>

            <div class="p-2 mb-4 shadow border rounded">
                <div class="my-2">
                    <h2>Варианты автоматизации работы оператора склада</h2>

                    <h6>1. Заполнение склада</h6>
                    <ul class="list-group">
                        <li class="list-group-item">а) Оператор мобильным устройством считывает штрих-код на новой свежей пачке (идентификатор), от приложения получает номер места хранения пачек кирпичей, куда нужно отвезти эту пачку. После считывания идентификатора места хранения товаров эта пачка записывается в базе данных на место хранения товаров. В базу данных сразу заносится информация о идентификаторе этой пачки, номере места хранения, дате заполнения.</li>
                        <li class="list-group-item">б) Оператор мобильным устройством сканирует идентификатор (идентификаторы) загружаемых на склад товаров. Получает от приложения место, куда нужно отвезти эту пачку (пачки) товаров. После считывания идентификатора места хранения товаров в базу данных заносится информация о пачке (пачках) на это место хранений товаров. В базу данных заносится информация о идентификаторах каждой пачки товара, номере места хранения, дате заполнения.</li>
                        <li class="list-group-item">в) Оператор мобильным устройством выбирает задание на заполнение товарами склада. Оператор выбирает вид загружаемых на склад товаров. Выбирает из списка возможных мест место, куда хочет отвезти пачку (пачки) товаров. После считывания идентификатора мест хранения товаров и подтверждения выполнения задания в базу данных записывается информация о пачке (пачках) на это место хранений товаров. В базу данных заносится информация только о увеличении количества товаров на месте хранения товаров и обновляется дата заполнения.</li>
                        <li class="list-group-item">г) Оператор мобильным устройством выбирает задание на заполнение товарами склада. Оператор выбирает или (и) сканирует идентификатор загружаемых на склад товаров. Выбирает из списка возможных мест место, куда хочет отвезти пачку (пачки) товаров. После считывания идентификатора мест хранения товаров и подтверждения выполнения задания в базу данных записывается информация о пачке (пачках) на это место хранений товаров. В базу данных заносится информация только о увеличении количества товаров на месте хранения товаров и обновляется дата заполнения.</li>
                        <li class="list-group-item">д) Оператор мобильным устройством без идентификаторов вводит через мобильное устройство в базу данных информацию о появлении новой пачки (или нескольких) на месте хранения пачек кирпичей.</li>
                    </ul>

                    <h6>2. Формирование заданий</h6>
                    <ul class="list-group">
                        <li class="list-group-item">а) В коммерческом отделе формируется задание на отгрузку пачек кирпичей на основе информации о имеющихся товарах на складе и номере грузовика на складе. Задание – номер грузовика – номер места (мест). Проверка по идентификаторам пачек в базе данных.</li>
                        <li class="list-group-item">б) В коммерческом отделе формируются заявки на группы номеров грузовиков и на возможные виды товаров на каждую группу грузовиков. Задания формируются в момент появления грузовика на складе самим приложением. Задание – номер грузовика – варианты номеров мест товаров. Проверка по идентификаторам мест хранений товаров.</li>
                        <li class="list-group-item">в) В коммерческом отделе формируется задание на отгрузку пачек кирпичей на основе информации о хранящихся на каждом месте хранения количества товаров на складе и номере грузовика на складе. Задание – номер грузовика – номер места хранения. Проверка по идентификаторам мест хранений товаров.</li>
                    </ul>

                    <h6>3. Отгрузка со склада</h6>
                    <ul class="list-group">
                        <li class="list-group-item">а) Оператор на мобильное устройство получает задание на отгрузку. Оператор мобильным устройством считывает каждый раз штрих-код на пачке с нужного места хранения и отгружает эту пачку при подтверждении приложением. В базе данных проверяется каждый раз информация о каждой пачке и сразу после сканирования оператором пачка кирпичей удаляется с этого места.</li>
                        <li class="list-group-item">б) Оператор выбирает в мобильном устройстве задание на отгрузку в грузовик и каждый раз выбирает из вариантов место (места) отгрузки пачек кирпичей исходя из своих целей. Оператор мобильным устройством в ходе выполнения задания считывает идентификатор места хранения товаров. После подтверждения выполнения задания в базе данных удаляются отгруженное количество товаров.</li>
                        <li class="list-group-item">в) Оператор выбирает в мобильном устройстве задание на отгрузку в грузовик и каждый раз выбирает из вариантов место (места) отгрузки пачек кирпичей исходя из своих целей. Оператор мобильным устройством в ходе выполнения задания считывает идентификатор места хранения товаров и идентификаторы пачек кирпичей. После подтверждения выполнения задания в базе данных удаляются отсканированные оператором идентификаторы отгруженных товаров.</li>
                        <li class="list-group-item">г) Оператор мобильным устройством без идентификаторов вводит через мобильное устройство в базу данных информацию о удалении отгруженной пачки (или нескольких пачек) с места хранения пачек кирпичей.</li>
                    </ul>

                    <div class="my-2">
                        <h2>Варианты необходимого оборудования</h2>
                        <img src="~/images/ZebraAndroid.jpg" class="img-fluid" alt="Терминал для считывания штрих-кодов" />
                        <p>Сенсорный мобильный компьютер с клавиатурой Zebra - нужен в качестве основного инструмента управления складом.</p>
                        <img src="~/images/smartphone.jpg" class="img-fluid" alt="Смартфон" />
                        <p>Мобильный телефон любой с ОС Android 10 - возможен в качестве дополнительного (дополнительных) инструмента (ов) управления складом.</p>
                        <img src="~/images/ZebraPrint.jpg" class="img-fluid" alt="Принтер этикеток" max-height="400" />
                        <p>Принтер этикеток Zebra - нужен в качестве стационарного принтера этикеток.</p>
                    </div>
                </div>
            </div>

            <div class="p-2 mb-4 shadow border rounded">
                <p>Можно загрузить мобильное приложение управления складом. Мобильное приложение доступно только на платформу Android</p>

                <img src="~/images/qr-code.png" alt="qr код" height="300" />

                <div class="mb-3 mt-3">
                    <a asp-controller="Home" asp-action="GetAndroidAppFile" class="btn btn-outline-success">
                        <i class="fab fa-android"></i>
                        Загрузить apk
                    </a>
                </div>

                <a class="btn btn-outline-success" target="_blank" href="https://github.com/kanadeiar/BricksWarehouse">
                    <i class="fab fa-git"></i>
                    Мой github
                </a>
            </div>
        </div>
    </div>

</div>
