@{
    ViewBag.Title = "О приложении";
}

<div class="container-md">

    <div class="row">
        <div class="col-sm-3">
            <partial name="Partial/_LeftSidebarPartial" />
        </div>
        <div class="col-sm-9">
            <h3>@ViewBag.Title</h3>
            <h1 class="p-4 bg-danger text-white text-center">Склад кирпичей</h1>

            <p>Прототип приложения управления складом кирпичей.</p>

            <a class="btn btn-outline-success" href="https://github.com/kanadeiar/BricksWarehouse">
                <i class="fab fa-git"></i>
                Мой github
            </a>


        </div>
    </div>

</div>
