@{
    ViewBag.Title = "Быстрый старт";
}

<div class="container-md">
    <div class="row">
        <div class="col-sm-3">
            <partial name="Partial/_LeftSidebarPartial" />
        </div>
        <div class="col-sm-9">
            <h3>@ViewBag.Title</h3>
            <h1 class="p-4 bg-danger text-white text-center">Автоматизированное управление складом</h1>
            
            <p>Демонстрация автоматизированной работы склада.</p>
            
            <h3>Необходимо распечатать и установить все коды, перечисленные ниже, на складе:</h3>

            <hr />
            
            <h5>Код, который должен быть установлен на место приема товара на склад:</h5> 
            
            <div class="my-4 border-1 shadow rounded p-2">
                <img src="~/images/task0.png" alt="Код работы загрузки товара на склад" height="300" class="my-1" />
                <p>Содержит код задания 'Заполнение склада' - постоянная работа по заполнению склада новым поступающим товаром.</p>
            </div>
            
            <hr />
            
            <h5>Коды, которые должны быть отпечатаны (наклеены или другим образом нанесенны) на упаковки с принимаемым на склад товаром:</h5> 

            <div class="my-4 border-1 shadow rounded p-2">
                <img src="~/images/producttype400.png" alt="Код товара 400" height="300" />
                <p>Кирпич полуторный 250x120x65</p>
            </div>
            <div class="my-4 border-1 shadow rounded p-2">
                <img src="~/images/producttype1.png" alt="Код товара 1" height="300" />
                <p>Кирпич пустотелый 250x120x65</p>
            </div>
            <p>Наносится на каждую упаковку товара. Содержит коды товаров, которые есть в базе данных.</p>
            
            <hr />
            
            <h5>Коды, которые должны быть установленны по местам хранений товаров на складе:</h5>
            
            <div class="my-4 border-1 shadow rounded p-2">
                <img src="~/images/place1.png" alt="Код места 1" height="300" />
                <p>Главный стеллаж Номер 1</p>
            </div>
            <div class="my-4 border-1 shadow rounded p-2">
                <img src="~/images/place2.png" alt="Код места 2" height="300" />
                <p>Заполняемый стеллаж Номер 2</p>
            </div>
            <div class="my-4 border-1 shadow rounded p-2">
                <img src="~/images/place3.png" alt="Код места 3" height="300" />
                <p>Заполняемый стеллаж Номер 3</p>
            </div>
            <p>Устанавливается на каждое место хранения товаров. Содержит код места, который учитывается в базе данных и в базе данных учитывается вид товаров на этом месте и количество товара.</p>
            
            <hr />
            
            <h5>Коды, которые должны быть переданы водителям грузовиков</h5>
            
            <div class="my-4 border-1 shadow rounded p-2">
                <h5 class="text-center">Задание-требование на загрузку-погрузку товаров со склада</h5>
                <div class="text-end">
                    <img src="~/images/task99.png" alt="Код работы загрузки товара на склад" height="300" class="my-1"/>
                </div>
                <p>Содержит код задания 'Тестовое задание №1' - работа по загрузке товаром со склада на грузовик с госномером aa100a</p>
                <p>Товар: Кирпич полуторный 250x120x65, 20 упаковок.</p>
            </div>
            <div class="my-4 border-1 shadow rounded p-2">
                <h5 class="text-center">Задание-требование на загрузку-погрузку товаров со склада</h5>
                <div class="text-end">
                    <img src="~/images/task100.png" alt="Код работы загрузки товара на склад" height="300" class="my-1"/>
                </div>
                <p>Содержит код задания 'Тестовое задание №1' - работа по загрузке товаром со склада на грузовик с госномером aa200a.</p>
                <p>Товар: Кирпич пустотелый 250x120x65, 30 упаковок.</p>
            </div>

            <p>Коды однозначно идентифицируют задание-требование на загрузку товара со склада</p>
            
            <hr />
            
            <div class="my-4 border-1 shadow rounded p-2">
                <h3>Быстрый старт</h3>
            
                <p>Заполнение склада товаром:</p>
                <ol>
                    <li>Сканировать код задания на месте приема товаров</li>
                    <li>Нажать на кнопку 'Исполнять'</li>
                    <li>Сканировать код на упаковке товара, который поступает на склад</li>
                    <li>Загрузить товар на транспортер и нажать на кнопку 'Загружено на транспортер'</li>
                    <li>Выбрать из списка рекомендуемых мест самое верхнее, привезти к нему товар на транспортере, сканировать код места</li>
                    <li>Выгрузить товар с транспортера на место хранения товаров и нажать на кнопку 'Выгружено с транспортера'</li>
                </ol>
            
                <p>Отгрузка товара со склада:</p>
                <ol>
                    <li>Сканировать выданный код водителю грузовика - задание-требование на загрузку-погрузку товаров со склада</li>
                    <li>Нажать на кнопку 'Исполнять'</li>
                    <li>Выбрать из списка рекомендуемых мест самое верхнее, сканировать код места</li>
                    <li>Загрузить товар на транспортер, нажать на кнопку 'Загружено на транспортер'</li>
                    <li>Погрузить товар с транспортера нс грузовик, нажать на кнопку 'Погружено на грузовик'</li>
                </ol>
            </div>
            
            <p>Можно загрузить файл демонстрационных материалов:</p>

            <div class="mb-3 mt-3">
                <a asp-controller="Home" asp-action="DownloadDemoFile" class="btn btn-outline-success">
                    <i class="fa fa-arrow-down"></i>
                    Загрузить
                </a>
            </div>
        </div>
    </div>
</div>