@{
    ViewBag.Title = "Главная страница";
}

<div class="container-md">

    <partial name="Partial/SliderPartial"/>

    <div class="row">
        <div class="col-sm-3">
            <partial name="Partial/_LeftSidebarPartial" />
        </div>
        <div class="col-sm-9">
            <h1>@ViewBag.Title</h1>


        </div>
    </div>
</div>