
@{
    ViewBag.Title = "Главная страница";
}

<div class="container-md">
    <div class="row">
        <div class="col-sm-3">
            <h1>Навигация</h1>
        </div>
        <div class="col-sm-9">
            <h1>@ViewBag.Title</h1>

            <component type="typeof(CounterPartial)" render-mode="ServerPrerendered" />
        </div>
    </div>
</div>