<footer class="border-top footer text-white bg-danger">
    <div class="container-md">
        &copy; 2021 - kanadeiar <a class="text-light" href="https://github.com/kanadeiar/BricksWarehouse">github</a>
    </div>
</footer>
