<div class="left-sidebar">
    <h4 class="text-center text-white bg-danger p-2">Просмотр</h4>
    <div class="accordion accordion-flush" id="accordionShow">
        <ul class="nav nav-pills flex-column">
            <div class="accordion-item">
                <h2 class="accordion-header" id="showRaport">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#genreRaports" aria-expanded="false" aria-controls="genreRaports">
                        Обычные отчеты
                    </button>
                </h2>
                <div id="genreRaports" class="accordion-collapse collapse" aria-labelledby="showRaport" data-bs-parent="#accordionShow">
                    <div class="accordion-body">
                        <ul class="list-unstyled">

                            <li>
                                <a asp-controller="Home" asp-action="Index" class="nav-link text-dark fw-light pb-0">
                                    Объемы товаров на складе
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link text-dark">
                    Количество товаров на складе
                </a>
            </li>
        </ul>
    </div>
</div>
