<div class="mt-4 p-5 mb-4 bg-info bg-danger text-white rounded">
    <h1 class="display-2 mb-5"><strong>Склад кирпичей</strong></h1>
    <p class="lead">Приложение управления складом кирпичей.</p>
    <hr>
    <p>Просмотр общей итоговой информации по складу в обобщенном виде. Управление складом осуществляется через мобильное приложение.</p>
</div>
