@page "/pages"
@model IndexModel
@{
    ViewBag.Title = "Организация - Информация по операторам";
}

<h1 class="text-center">@ViewBag.Title</h1>

@functions {
    public class IndexModel : PageModel
    {
        public IndexModel()
        {
        }
    }
}
